<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Listar Personas</title>
</head>
<body>

<h1>Listado de personas</h1>
<table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>EDAD</th>
            <th>ACCIONES</th>
        </tr>

    <tr th:each="persona :${personas}">
        <td th:text="${persona.id}" ></td>
        <td th:text="${persona.nombre}" ></td>
        <td th:text="${persona.edad}" ></td>
        <td>
            <a href="${persona/eliminar}">Editar</a>
            <a href="">Eliminar</a>
        </td>


    </tr>

</table>


</body>
</html>